name: Build
on:
  push:
    branches:
      - main
      - test
  pull_request:
    branches:
      - main
      - test

jobs:
  build_on_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: install dependencies
      run: npm ci
    
    - name: compile
      run: npm run compile

    - name: build
      run: npm run build

  build_on_mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: install dependencies
      run: npm ci
    
    - name: compile
      run: npm run compile

    - name: build
      run: npm run build

  build_on_win:
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [ia32, amd64, arm64]
        include:
          - platform: ia32
            runner: windows-latest
          - platform: amd64
            runner: windows-latest
          - platform: arm64
            runner: windows-latest
            
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 24

    - name: install dependencies
      run: npm ci
    
    - name: compile
      run: npm run compile

    - name: build
      run: npm run build